language: node_js
node_js:
  - "4"
  - "6"
  - "7"
script: 
  - "npm run travis"
  - "npm run lint"
cache:
  directories:
    - node_modules
notifications:
  email:
    - javier.mendiaracanardo@telefonica.com
    - guido.garciabernardo@telefonica.com